.container{
    display: grid;
    grid-template-rows: 800px auto 200px;
    grid-gap: 10px;
}

.header{
    display: grid;
    background-image: url(../image/1.jpg), url(../image/grey.jpg);
    background-size: 1600px;
    background-repeat: no-repeat, repeat;
    background-position: center;
    grid-template-rows: 300px 100px;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
}

#button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #6cb96f;
    color: white;
    text-align: center;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Lucida Console", Courier;
}

#button:hover {
    background-color: rgb(185, 238, 195); /* Hover durumunda arka plan değişimi */
    color: #4CAF50; /* Hover durumunda yazı rengi değişimi */
  }

#h1{
    font-family: "Lucida Console", Courier;
    font-size: 50px;
    text-align: center;
    color: #4c7b4e;
}

.letstart{
    display: flex;
    justify-content: center;
    align-content: start;
}